@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Protest+Revolution&display=swap');

:root {
  --cor-background: #ccc;
  --cor-duvidas: rgba(204, 204, 204, 0.8);
  --cor-primaria: #2915A9;
  --cor-secundaria: #DDBF16;
  --cor-tercearia: #261e5e;
  --cor-texto-claro: #ddd;
  --cor-texto-escuro: #333;
  --cor-titulo: #333;
  --cor-btn-contato: #2915A9;
  --cor-btn-whats: #25D366;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* outline: 1px solid red; */

}

a {
  color: var(--cor-texto-escuro);
}

body {
  background-color: var(--cor-background);
  color: var(--cor-texto-escuro);
  font-family: "Noto Sans", sans-serif;
}

header {
  padding-top: 50px;
}

.logo {
  font-family: "Protest Revolution", sans-serif;
}

.selo-aprovacao {

margin: 2rem auto;
}

.whatsapp {
  position: fixed;
  bottom: 3vh;
  right: 5vw;

  a {
    height: 100px !important;
    color: var(--cor-btn-whats);
  }
}

.fa-square-whatsapp {
  font-size: 5em;
}

.whats-clean {
  font-size: 2em;
  color: var(--cor-texto-escuro);

}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  font-weight: 600;
  font-size: 1.42rem;
  text-align: center;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;

  hr {
    margin: 1rem 0 1.5rem 0;
    height: 2px;
    border: none;
    width: 80%;
    background-color: #2915A9;
  }

}

.btn-orcamento {
  background-color: var(--cor-btn-contato);
  padding: 16px;
  border-radius: 8px;
  color: var(--cor-texto-claro);
  text-decoration: none;
  font-weight: 600;
  font-size: 1.5rem;
  width: fit-content;
}

marquee {
  z-index: 100;
}

.gatilho {
  position: fixed;
  overflow: visible;
  width: 100vw;
  background-color: var(--cor-secundaria);
  text-align: center;
  top: 0;
  left: 0;
  z-index: 2;
  font-size: 1.5rem;
  height: 40px;

  a {
    text-decoration: none;
    color: var(--cor-texto-escuro);
  }

  a:hover {
    cursor: pointer;
  }
}

.header {
  position: fixed;
  overflow: visible;
  top: 40px;
  left: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin: 0;
  z-index: 2;

  h1,
  .menu-burguer {
    position: relative;
    z-index: 2;
  }

  .menu {
    padding: 0.5rem ;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu-list {
  display: none;
  justify-content: end;
  text-align: end;
  position: absolute;
  top: 54px;
  right: 0px;
  padding: 1rem 2rem;
  background-color: #fff;
  width: 100vw;
  
  ul,
  a {

    text-decoration: none;
    list-style: none;
    li {
      padding: 0.5rem;
      width: 100vw;
   } 
  }
}

.menu-list ul li:hover {
  background-color: var(--cor-duvidas);
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(256, 256, 256, 0.5);
  z-index: 1;
}



.inicio {
  background-image: url(./assets/images/capa-mobile.png);
  background-position: top;
  background-size: cover;
  position: relative;
  top: -80px;
  padding: 150px 20px;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;


  h1 {
    color: black;
    font-weight: 500;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 36px;

    strong {
      font-weight: 800;
    }

    strong:first-child {
      color: var(--cor-primaria);
      font-weight: 800;

    }
  }
}

.servicos {
  margin-bottom: 2rem;
  margin-top: -5rem;
  padding: 0 1rem;
}

.servicos>.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.servicos-img {
  margin-top: 2rem;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  img {
    border-radius: 8px;
    display: none;
  }

  img:nth-child(-n+3) {
    display: block;
  }
}

.duvidas-frequentes {
  background: rgb(20, 22, 48);
  background: linear-gradient(56deg, rgba(20, 22, 48, 1) 0%, rgba(77, 114, 159, 1) 100%);
  padding: 0 1rem;

  h2 {
    color: var(--cor-texto-claro);
  }

  .pergunta-resposta {
    h3 {
      background-color: var(--cor-duvidas);
      margin: 20px 0;
      padding: 0.7rem 1rem;
      max-width: 90vw;
      border-radius: 4px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.porque-contratar {
  background-image: url(assets/images/porque-contratar-mobile.png);
  background-position: top;
  background-size: cover;
  padding: 0 1rem 2rem 1rem;
}

.porque-img {
  display: none;
}

.porque-contratar>.content>.text {
  ul {
    margin-top: 1rem;
    list-style-type: disc;
    /* Define o tipo de marcador */
    margin-left: 20px;
  }
}

.contato {
  background-color: var(--cor-background);
  color: var(--cor-texto-escuro);
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}


.btn-whatsapp {
  background-color: var(--cor-btn-whats);
  border-radius: 8px;
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  width: max-content;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 2rem;

  a {
    color: var(--cor-texto-escuro);
    text-decoration: none;
  }


}

.contato-img {
  display: none;

}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
  background-color: var(--cor-tercearia);
  color: var(--cor-texto-claro);

  .menu-footer {
    ul {
      display: flex;
      flex-direction: column;
      list-style: none;
      gap: 0.5rem;

      li a {
        color: var(--cor-texto-claro);
        text-decoration: none;
      }
    }
  }
  a {
    color: var(--cor-texto-claro);
    text-decoration: none;
  }
}

.duvidas-respostas {
  display: none;
}

@media screen and (max-width: 767px) {}